<%= image_tag('portlandHeadMaineEdited.jpg') %>

<h1>About this app</h1>

<p>We developed this app to assist you, the travel agent, in finding the ideal lighthouse vacation spot for you client.  Whether you are setting up a Michigan coastal trip or a weekend lake trip, you can find what you need here.</p>

<%= link_to 'Home', root_path %>