<%= image_tag('headerImageNew.jpg') %>

<h1>Welcome to Lighthouse Vacations Spots of the United States</h1>

<h2>To assist your clients in selecting the best places to go</h2>

<p>You can search by:</p>

<ul>
    <li>Lighthouse Name</li>
    <li>Location</li>
    <li>Nearby Attractions</li>
</ul>

<%= link_to 'About', about_path %>