<div class="center jumbotron">
    <h1>Lighthouse Vacation Spots of the United States</h1>
    <%= link_to "Sign up now", "#", class: "btn btn-primary btn-lg btn-xlge" %>
</div>

<h2>What are the best lighthouses to visit in the U.S.?  Click in to the Lighthouse Blog to tell us your top choice!</h2>

<%= link_to "Lighthouse Blog", articles_path %> | <%= link_to 'About', about_path %>